extends layout

block content
  form(action="/upload/folder/svg", method="post" encType="multipart/form-data")
    label(for="mongooseURL") Enter mongoose url pls  
    input(type="text", name="mongooseURL")
    p
    label(for="mongooseModel") Enter mongoose model name pls  
    input(type="text", name="mongooseModel")
    p
    label(for="jsonFile") Upload json file pls   
    input(type="file", name="File", webkitdirectory, directory, multiple)
    p
    button(type="submit") Submit